* {
  box-sizing: border-box;
}
.square {
  width: 100px;
  height: 100px;
  background-color: coral;
  position: absolute;
  animation-name: square-way;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes square-way {
  0% {
    background-color: coral;
    top: 0px;
    left: 0px;
  }
  25% {
    background-color: cornflowerblue;
    top: 0px;
    left: 300px;
  }
  50% {
    background-color: aqua;
    top: 300px;
    left: 300px;
  }
  75% {
    background-color: yellowgreen;
    top: 300px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
